  
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
  <h4>Name</h4>
  <input formControlName="name" placeholder="Your name">
  <h4>Image</h4>
  <input formControlName="image" placeholder="imageURL">
  <h4>isAvailable</h4>
  <input formControlName="isAvailable" placeholder="true/false">
  <h4>Description</h4>
  <input formControlName="description" placeholder="Description">
  <h4>Price</h4>
  <input formControlName="Price" placeholder="Price">
  <br>
  <button type="submit">Send</button>
</form>
