<app-header></app-header>
<app-watch></app-watch>
<app-footer></app-footer>

    
  <!--<div class= col-sm-3>
      <div class="card" style="width: 18rem;">
        <img src="../assets/IMAGES/watch 2.jfif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">ROLEX</h5>
          <h5 class="card-title">$1000</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Add Cart</a>
        </div>
      </div>
  </div>
  <div class= col-sm-3>
      
        <div class="card" style="width: 18rem;">
          <img src="../assets/IMAGES/watch 7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">SEIKO BLUE</h5>
            <h5 class="card-title">$800</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add Cart</a>
          </div>
        
    </div>
  </div>
  
  <div class= col-sm-3>
    
    <div class="card" style="width: 18rem;">
      <img src="../assets/IMAGES/watch9.jfif" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">LED</h5>
        <h5 class="card-title">$1500</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
  </div>
    
  <div class= col-sm-3>
    <div class="card " style="width: 18rem;">
      <img src="../assets/IMAGES/watch10.jfif" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">LED</h5>
        <h5 class="card-title">$1200</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    </div>
    <div class= col-sm-3>
    <div class="card" style="width: 18rem;">
      <img src="../assets/IMAGES/watch17.jfif" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">MI BAND4</h5>
        <h5 class="card-title">$1000</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Add Cart</a>
      </div>
    </div>
    
    
    </div>
    <div class= col-sm-3>
        <div class="card" style="width: 18rem;">
          <img src="../assets/IMAGES/watch3.jfif" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">MI BAND4</h5>
            <h5 class="card-title">$1000</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add Cart</a>
          </div>
        </div>
        
        
        </div>
        <div class= col-sm-3>
            <div class="card" style="width: 18rem;">
              <img src="../assets/IMAGES/watch1.jfif" class="card-img-top" alt="...">
              <div class="card-body">
                  <h5 class="card-title">MI BAND4</h5>
                <h5 class="card-title">$1000</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Add Cart</a>
              </div>
            </div>
            
            
            </div>
</div>
  


</div>-->

